version: '2'

services: 
  keepalive:
    image: osixia/keepalived:{{keepalive_version}}
    container_name: keepalived
    environment:
      - KEEPALIVED_INTERFACE="{{ keepalived_interface }}"
      - KEEPALIVED_VIRTUAL_IPS="{{ keepalived_virtual_ips }}"
      - KEEPALIVED_PRIORITY ={{ keepalived_priority }}
      - KEEPALIVED_UNICAST_PEERS="{{ keepalived_unicast_peers }}"
      - KEEPALIVED_COMMAND_LINE_ARGUMENTS="{{ keepalived_command_line_arguments }}"
    network_mode: host

  nginx:
    image: nginx:1.14.0
    container_name: nginx
    #expose: 
    #  - "443/tcp"      
    #  - "80/tcp"
    #ports:
    #  - 80:80
    #  - 443:443
    volumes:
        - ${PWD}/conf/nginx/:/etc/nginx/
        - ${PWD}/swi:/opt
    network_mode: host
    #networks:
    #  mars_net:
    #      ipv4_address: 10.1.1.2
    #links:
    #  - mars
    

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:{{elk_version}}
    container_name: elasticsearch
    privileged: true
    network_mode: host
    #networks:
    #  mars_net:
    #      ipv4_address: 10.1.1.4    
    #ports:
    #  - 9200:19200
    #volumes:
      #- ${PWD}/conf/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      #- ${PWD}/conf/elasticsearch/data:/usr/share/elasticsearch/data:rw
    environment:
      ES_JAVA_OPTS: "{{ es_java_opts }}"
      network.bind_host: "{{ network_bind_host }}"
      network.publish_host: "{{ network_publish_host }}"
      cluster.name: "{{ cluster_name }}"
      node.name: "{{ node_name }}"


  logstash:
    image: ansiblemars_logstash:{{logstash_version}}
    container_name: logstash
    privileged: true
    #expose:
    #   - "5514/udp"
    #   - "6343/tcp"
    #   - "6343/udp"
    #   - "25826/udp"
    #ports:
    #   - 5514:5514/udp
    #   - 6343:6343/tcp
    #   - 6343:6343/udp
    #   - 25826:25826/udp
    network_mode: host
    #networks:
    #  mars_net:
    #      ipv4_address: 10.1.1.5
    #links:
    #  - elasticsearch
    volumes:
      - ${PWD}/conf/logstash/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - ${PWD}/conf/logstash/pipeline:/usr/share/logstash/pipeline:ro
    environment:
      LS_JAVA_OPTS: "{{ ls_java_opts }}"
    depends_on:
      - elasticsearch

  mars:
    image: mars:{{mars_version}}
    container_name: mars
    network_mode: host
    privileged: true
    environment:
      ONOS_IP: {{onos_ip}}
    volumes:
      - ./conf/mars/modules:/etc/collectd/modules
      - ./conf/mars/mars_collectd.conf:/etc/collectd/collectd.conf
      - ./download:/root/onos/download
    depends_on:
      - elasticsearch



#networks:
#   mars_net:
#     driver: bridge
#     ipam:
#       driver: default
#       config:
#       - subnet: 10.1.1.0/24
#         gateway: 10.1.1.254